<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show Movies</title>
    <link rel="stylesheet" href="/static/admin/showMovies.css">

</head>
<body>
<div class="container">
    <h1>Available Movies</h1>
    <table>
        <thead>
        <tr>
            <th>Title</th>
            <th>Category</th>
            <th>Description</th>
            <th>Release Date</th>
            <th>Duration (minutes)</th>
            <th>Trailer</th>
            <th>Create Show</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="movie : ${movies}">
            <td th:text="${movie.title}">Title</td>
            <td th:text="${movie.categoryName}">Category</td>
            <td>
                <a th:href="@{/admin/moviesDetails.html(id=${movie.id})}">Description</a>
            </td>
            <td th:text="${movie.releaseDate}">Release Date</td>
            <td th:text="${movie.duration}">Duration</td>
            <td>
                <a th:href="${movie.trailer_url}" target="_blank">Watch Trailer</a>
            </td>
            <td>
                <a th:href="@{/admin/addShowTime.html(movieId=${movie.id})}" class="create-show-button">Create Show</a>
            </td>

        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
